@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/HelveticaRegular.woff2"),
       url("../fonts/HelveticaRegular.woff"),
       url("../fonts/HelveticaRegular.ttf"),
       url("../fonts/HelveticaRegular.eot");
}

@font-face {
  font-family: 'HelveticaBlack';
  src: url("../fonts/HelveticaBlack.woff2"),
       url("../fonts/HelveticaBlack.woff"),
       url("../fonts/HelveticaBlack.ttf"),
       url("../fonts/HelveticaBlack.eot");
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/HelveticaBold.woff");
}