$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1240px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$orangeBtn               : #EA8F67;
$white                   : #fff;
$pinkUnderline           : #EA526F;
$pinkBtn                 : #EA526F;

$HelveticaRegular        : 'HelveticaRegular', sans-serif;
$HelveticaBlack          : 'HelveticaBlack', sans-serif;
$HelveticaBold           : 'HelveticaBold', sans-serif;