@import "fonts";
@import "variables";
@import "header";
@import "generator";
@import "scale";
@import "description";
@import "feedback";
@import "footer";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 13px;
  }
}

body {
  overflow-x: hidden;
}

* {
  outline: none !important;
}

.container {
  //width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: 1575px;
  padding: 0 15px;
  @media (max-width: 1600px) {
    max-width: 1215px;
  }
}

.hidden {
  display: none;
}
